Factory/test/resources/GarageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:documentation>GarageService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="placeRepairOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="placeRepairOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="payRepair">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doRepair">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doRepairResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="doRepairRequest">
        <wsdl:part name="parameters" element="ns:doRepair"/>
    </wsdl:message>
    <wsdl:message name="doRepairResponse">
        <wsdl:part name="parameters" element="ns:doRepairResponse"/>
    </wsdl:message>
    <wsdl:message name="payRepairRequest">
        <wsdl:part name="parameters" element="ns:payRepair"/>
    </wsdl:message>
    <wsdl:message name="payRepairResponse"/>
    <wsdl:message name="placeRepairOrderRequest">
        <wsdl:part name="parameters" element="ns:placeRepairOrder"/>
    </wsdl:message>
    <wsdl:message name="placeRepairOrderResponse">
        <wsdl:part name="parameters" element="ns:placeRepairOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="GarageServicePortType">
        <wsdl:operation name="doRepair">
            <wsdl:input message="ns:doRepairRequest" wsaw:Action="urn:doRepair"/>
            <wsdl:output message="ns:doRepairResponse" wsaw:Action="urn:doRepairResponse"/>
        </wsdl:operation>
        <wsdl:operation name="payRepair">
            <wsdl:input message="ns:payRepairRequest" wsaw:Action="urn:payRepair"/>
            <wsdl:output message="ns:payRepairResponse" wsaw:Action="urn:payRepairResponse"/>
        </wsdl:operation>
        <wsdl:operation name="placeRepairOrder">
            <wsdl:input message="ns:placeRepairOrderRequest" wsaw:Action="urn:placeRepairOrder"/>
            <wsdl:output message="ns:placeRepairOrderResponse" wsaw:Action="urn:placeRepairOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GarageServiceSoap11Binding" type="ns:GarageServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="doRepair">
            <soap:operation soapAction="urn:doRepair" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payRepair">
            <soap:operation soapAction="urn:payRepair" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeRepairOrder">
            <soap:operation soapAction="urn:placeRepairOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GarageServiceSoap12Binding" type="ns:GarageServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="doRepair">
            <soap12:operation soapAction="urn:doRepair" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payRepair">
            <soap12:operation soapAction="urn:payRepair" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeRepairOrder">
            <soap12:operation soapAction="urn:placeRepairOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GarageServiceHttpBinding" type="ns:GarageServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="doRepair">
            <http:operation location="doRepair"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="payRepair">
            <http:operation location="payRepair"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeRepairOrder">
            <http:operation location="placeRepairOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GarageService">
        <wsdl:port name="GarageServiceHttpSoap11Endpoint" binding="ns:GarageServiceSoap11Binding">
            <soap:address
                    location="http://localhost:8080/axis2/services/GarageService.GarageServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GarageServiceHttpSoap12Endpoint" binding="ns:GarageServiceSoap12Binding">
            <soap12:address
                    location="http://localhost:8080/axis2/services/GarageService.GarageServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GarageServiceHttpEndpoint" binding="ns:GarageServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/GarageService.GarageServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
